.webhook-form-tab:focus {
  outline: none;
}

.pf-v5-c-form.pf-m-horizontal .webhook-form-tab {
    .webhook-form-tab-content .pf-v5-c-form__group{
        margin-top: var(--pf-v5-c-form--GridGap);
        grid-template-columns: calc(var(--pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth) + 3rem) var(--pf-v5-c-form--m-horizontal__group-control--md--GridColumnWidth);
    }

    .autocomplete-input-wrapper {
        width: 100%;
    }

    .pf-v5-c-form__group-control {
        align-content: space-evenly;
    }

    .pf-v5-c-form__group-label {
        text-wrap: nowrap;
    }
}
#select-typeahead-listbox {
  max-height: 400px;
  overflow: auto;
}
